body{
    background: lightgrey;
}

header{
    background: white;
    margin: auto; 
    padding:10px  
}

.photo-feed{
    background: white;
    width: 50%;
    max-height:auto;
    margin:10px auto;
    
}

.photo img{
    width: 100%;
}

.photo-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.caption{
    padding: 0 10px 10px 10px;
}

    
